<div>
  <h1>Document Uploder</h1>
 <!-- <input type="text" [value]="uemail" #user class="ff" disabled="true" (click)="setUser()" >{{uemail}}-->
</div>
<ul>
  <li><a routerLink="" #home routerLinkActive='active' [routerLinkActiveOptions]="{exact:true}" data-name="homeactive">Home</a></li>
  <li><a routerLink="login" #login routerLinkActive='active' >LogIn</a></li>
  <li><a routerLink="register" #register routerLinkActive='active' >Register</a></li>
  <li><a routerLink="upload" #upload routerLinkActive='active' >Upload Files</a></li>
  <li><a routerLink="view" #view routerLinkActive='active' >View Files</a></li>
  <li style="float:right"><a href="about" #about routerLinkActive='active' >About</a></li>
</ul>

<router-outlet></router-outlet>